#mainPane {
    -fx-background-color: rgba(208, 208, 208, 0.9);
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: #090909;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

#welcomeHeading {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#descriptionLabel {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #34485d;
}

#generateGraphsButton {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-color: #000000;
    -fx-border-radius: 7px;
    -fx-focus-color: transparent;
}

#generateGraphsButton:hover {
    -fx-background-color: #34485d;
    -fx-text-fill: #ffffff;
}

.graph-container {
    -fx-background-color: #ffffff; /* White background */
    -fx-border-color: #000000; /* Black border */
    -fx-border-width: 1px;
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-padding: 10px; /* Add some padding */
    -fx-margin: 10px; /* Add some margin */
}