.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #9b9b9b;
}

.anchor-pane, .grid-pane {
    -fx-background-color: #000000;
    -fx-border-color: rgba(197, 197, 197, 0);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

#backgroundImagePane{
    -fx-background-image: url("../stylesheets/backgrounds/home_background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#mainPane {
    -fx-padding: 10px;
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

#titleLabel, #profitHeading, #activityHeading, #expenseHeading, #invoiceHeading {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
#descriptionLabel {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#generateGraphsButton {
    -fx-background-color: #34485d;
    -fx-text-fill: #ffffff;
    /*-fx-border-color: transaprent;*/
    -fx-border-width: 1px;
    -fx-padding: 8px 15px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#generateGraphsButton:hover {
    -fx-background-color: #486c94;
}

#invoiceScroll {
    -fx-border-radius: 10px;
}

.scroll-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.image-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

#listView {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
